<div class="row">
    {{base-converter input=input output=output inputAlphabet=inputAlphabet outputAlphabet=outputAlphabet convert=(action 'convert')}}
    {{#each history.sortedModel as |history|}}
        {{base-converter input=history.input output=history.output inputAlphabet=history.inputAlphabet outputAlphabet=history.outputAlphabet}}
    {{/each}}
</div>
